@import "kiinto.css";
@import "animations.css";
@import "variables.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800";

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: var(--font-size-base);
}

body {
	backface-visibility: hidden;
	background: var(--color-black);
	background-size: cover;
	color: var(--color-light-gray);
	font-family: 'Open Sans', sans-serif;
	font-size: var(--font-size-bodytext);
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	-webkit-scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	scroll-snap-type: proximity;
	width: 100vw;
}


a:link, a:visited {
	color: inherit;
	text-decoration: inherit;
}


/* Intro, Outro --> */
.intro, .outro {
	align-content: center;
	align-items: flex-end;
	display: flex;
	min-height: 100vh;
	height: 100vh;
	padding: 2rem;
	position: relative;
	z-index: 1;
	object-fit: cover;
	-webkit-scroll-snap-coordinate: 50% 0%;
	scroll-snap-align: center;
	scroll-snap-coordinate: 50% 0%;
	background: var(--color-black);
}

.intro article {
	margin: 0 auto 0;
	width: 100%;
}

.intro h1 {
	font-weight: 800;
	margin: 0 0 .5rem;
	letter-spacing: -.2rem;
}

.intro P {
	margin: 0 0 .5rem;
	line-height: 1.5rem;
}

.intro CANVAS {
	bottom: 0;
	height: 100vh;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: -1
}

.outro {
	z-index: 3;
}
.outro .bgr {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../images/pyry.jpg'), linear-gradient(to bottom, rgba(255, 128, 255, .5) 0%, rgba(0, 255, 255, .5) 100%);
	background-size: cover;
	background-blend-mode: saturation;
	background-position: 0% 50%;
	opacity: 0.3;
	pointer-events: none;
}

.outro .logo-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	align-items: center;
}

.outro .logo-container a {
	height:20px;
}

.outro .logo-container a {
	margin: 0 10px 0 0;
}

.outro .logo-container a img {
	max-height:20px;
	height:100%;
}
.outro .kiinto {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	transform: translate3d(-50%, -50%, 0);
}
/* <-- Intro */
.intro, .outro, .article-container {
	backface-visibility: hidden;
	background: var(--color-black);
}
.article-container {
	padding: 1rem 1rem 4vw;
	position: relative;
	width: 100%;
	min-height: 100vh;
	z-index: 2;
	color: var(--color-black);
	overflow: hidden;
	-webkit-scroll-snap-coordinate: 50% 0%;
	scroll-snap-coordinate: 50% 0%;
	transform-origin: 50% 50%;
	scroll-snap-align: center;
}

.article-container.no-padding {
	padding: 0;
}

.article-container:nth-of-type(odd) .article-content{
	background: var(--color-white);
	color: var(--color-black);
}

.article-container:nth-of-type(even) .article-content{
	background: var(--color-light-gray);
	color: var(--color-black);
}


.article-content {
	display: flex;
	min-height: 100vh;
	width: 100%;
}

.article-container:nth-of-type(odd) .article-content {
	flex-direction: row-reverse;
}

.article-content .hero-container {
	min-height: 100vh;
	position: relative;
	width: 100%;
	background: rgb(222,222,222);
}
.hero-container .button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: var(--color-pastel-green);
	box-shadow: inset 0 0 0 2px var(--color-pastel-green);
}
.hero-container .button:hover {
	background: var(--color-pastel-green);
	color: var(--color-black-alpha);
}
.hero-container .hero {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

.article-content h2 {
	border-bottom: 8px solid;
	border-color: inherit;
	display: inline-block;
	padding: 0 15px 0;
	letter-spacing: -0.2rem;
}

.button {
	background: transparent;
	box-shadow: inset 0 0 0 2px var(--color-black-alpha);
	border: 0;
	border-color: inherit;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	display: block;
	outline: none;
	padding: 2rem 4rem;
	transition: all 0.25s ease-in-out;
	display: inline-block;
}

.intro p {
	white-space: pre-line;
}
.intro .button {
	margin: 2rem auto 2rem;
}

a:hover, .a:hover {
	background: var(--color-black-alpha);
	box-shadow: none;
	color: var(--color-white-alpha);
}

header {
	z-index: 999;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
	position: absolute;
	top: 1rem;
	left: 2rem;
	right: 2rem;
}

header span {
	font-size: 2rem;
	color: var(--color-white-alpha);
	position: relative;
	margin: 0 10px 0 0;
}

header span::before {
	top: 6px;
	position: relative;
}

header img {
	height: 2rem;
}


a.header-button:hover {
	background: transparent;}

a.scroll {
	box-shadow: inset 0 0 0 2px var(--color-white-alpha);
	color: var(--color-white-alpha);
	position: relative;
	z-index: 9999;
	display: block;
	padding: 20px 40px;
	height: 60px;
	width: 100px;
	text-align: center;
}

a.scroll:hover {
	background: var(--color-white-alpha);
	box-shadow: none;
	color: var(--color-black-alpha);
}


/* Projects */

.project-container {
	align-items: flex-start;
	align-content: flex-start;
	display: flex;
	justify-content: flex-start;
	min-width: 320px;
	padding: 1rem 1rem 4vw;
}

.intro-text {
	font-size: var(--font-size-bodytext);
	line-height: 1.8rem;
	font-weight: 100;
	white-space: pre-line;
}

.project-container .project-info {
	max-width: 360px;
}

h1 {
	font-size: var(--font-size-heading-1);
	color: var(--color-white);
	text-shadow: 0.075vw 0.05vw 0.15vw var(--color-dark-gray-alpha);
	}

h2 {
	border-bottom: none;
	display: block;
	font-size: var(--font-size-heading-2);
}

@media only screen and (max-width: 640px) {
	.article-container,
	.article-content {
		min-height: unset;
	}

	.article-content,
	.article-container:nth-of-type(odd) .article-content {
		flex-direction: column;
	}

	.article-content .hero-container {
		min-height: 50vh;
	}

	.project-container {
		flex-wrap: wrap;
	}
	.project-container .project-info {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	header div:first-of-type {
		display: none;
	}
}

hr {
	background: var(--color-white-alpha);
	border: none;
	font-size: 1rem;
	height: 4px;
	margin: 2rem 1rem;
}

.tags {
	width: 100%;
}

.tags span {
	color: var(--color-black-alpha);
	display: inline-block;
	font-variant: small-caps;
	font-weight: bold;
	position: relative;
	margin: 0 10px 0 0;
	text-transform: lowercase;
}

span.arrow {
	animation: 3s arrow infinite ease-in-out;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}

span.arrow span {
	background: var(--color-white);
	display: block;
	height: 2px;
	left: -3px;
	position: absolute;
	top: 30px;
	transform: rotate(-45deg);
	transition: 0.15s ease-in-out 0.05s;
	width: 20px;
}

a.scroll:hover span.arrow span {
	background: var(--color-black);
}

span.arrow span:last-of-type {
	left: auto;
	right: -4px;
	transform: rotate(45deg);
}

@keyframes arrow {
	0%, 100% {
		top: -5px;
	}
	50% {
		top: 5px;
	}
}

/* .article-container title box */
.article-title {
	border: 8px solid var(--color-black);
	color: var(--color-black);
	font-size: 3rem;
	font-variant: small-caps;
	font-weight: 100;
	display: inline-block;
	height: 0;
	letter-spacing: -0.2rem;
	line-height: 2.2rem;
	min-height: 200px;
	min-width: 200px;
	padding-bottom: 20%;
	position: relative;
	text-transform: lowercase;
	width: 20%;
}

.article-title>DIV {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.article-title span {
	color: var(--color-black-alpha);
	font-weight: 900;
}


/*
Kiintopiste template engine
*/
span[data-fplFragment] {
	display: none;
}

a[name="projects"] {
	font-size: 0;
}
